<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Commande passée !</h1>
    <p>
      <%= @user %> vient de passer une commande !
    </p>
  </body>
</html>
