<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" id="test" href="<%= root_path %>">Kitten project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign up / sign in
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="<%=new_user_registration_path%>">Sign up</a>
          <a class="dropdown-item" href="<%=user_session_path%>">Sign in</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</div>
